body {
    overflow-x: hidden;
    min-width: 320px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid {
    max-width: 1950px;
    margin: 0 auto;
    padding: 0 15px;
}