html{
  font-size: 10px;
  position: relative;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: sans-serif;
  font-weight: 400;
  color: var(--primary, #171718);
  position: relative;
  background-color: var(--white-gray);
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: var(--primary);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--special);
  border-radius: 20px;
  border: 0px solid orange;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1950px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.title-2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.5px;
}

.title-3 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.5px;
}

.text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.text-2 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.5px;
}

.text-c1 {
  color: var(--special);
}

.link{
  color: inherit;
}

.btn {
  background-color: var(--special);
  padding: 12px 28px;
  border-radius: 5px;
  display: inline-block;
  z-index: 5;

  color: var(--white, #FFF);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.15px;
}

.dark-mode-btn{
  order: 1;
  width: 51px;
  height: 26px;
  padding: 1px;
  border-radius: 50px;
  display: flex;
  gap: 1px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray);
  position: relative;
  z-index: 1;
  margin-left: 40px;
  .light-mode{
    padding: 4px;
    z-index: 3;
  }
  .dark-mode{
    padding: 4px;
    z-index: 3;
  }
  .dark-mode-circle{
    display: block;
    background-color: var(--white);
    width: 23px;
    height: 23px;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
    left: 2px;
    transition: all .1s linear;
  }
}
.switch .dark-mode-circle{
  left: 26px;
}