@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';

.header{
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
  }
}




@import 'media';