    <footer class="footer">
      <div class="container">
        <div class="footer__inner">
          <div class="footer__content">
            <ul class="socials">
              <li class="socials__item">
                <a class="socials__item-link" href="#">
                  <img class="socials__item-img" src="images/socials-vk.svg" alt="vk">
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__item-link" href="#">
                  <img class="socials__item-img" src="images/socials-instagram.svg" alt="instagram">
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__item-link" href="#">
                  <img class="socials__item-img" src="images/socials-twitter.svg" alt="twitter">
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__item-link" href="#">
                  <img class="socials__item-img" src="images/socials-github.svg" alt="github">
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__item-link" href="#">
                  <img class="socials__item-img" src="images/socials-linkedin.svg" alt="linkedin">
                </a>
              </li>
            </ul>
            <p class="copyright text-2">© 2022 frontend-dev.com</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
  <script src="js/main.min.js"></script>
</body>

</html>