<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <a class="logo" href="/">
            <img class="logo-img" src="images/logo.svg" alt="logo">
          </a>

          <button class="dark-mode-btn">
            <img class="light-mode" src="images/sun.svg" alt="light-mode">
            <span class="dark-mode-circle"></span>
            <img class="dark-mode" src="images/moon.svg" alt="dark-mode">
          </button>

          <ul class="nav__list">
            <li class="nav__list-item nav__list-item--projects">
              <a class="nav__list-item--link" href="/projects.html">project</a>
            </li>
            <li class="nav__list-item nav__list-item--skills">
              <a class="nav__list-item--link" href="/skills.html">skills</a>
              </li>
            <li class="nav__list-item nav__list-item--contacts">
              <a class="nav__list-item--link" href="/contacts.html">contacts</a>
            </li>
          </ul>
        </div>
      </div>
    </header>