<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <div class="nav">
            <ul class="nav__list">
              <li class="nav__item"><a class="nav__item-link" href="#">Главная</a></li>
              <li class="nav__item"><a class="nav__item-link" href="#">Проекты</a></li>
              <li class="nav__item"><a class="nav__item-link" href="#">О нас</a></li>
              <li class="nav__item"><a class="nav__item-link" href="#">Контакты</a></li>
            </ul>
          </div>

          <div class="controls">
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" name="color-scheme" value="light" aria-label="Светлая"
                onchange="handleChange(this.checked)" />
              <span class="checkbox-style"></span>
            </label>
            <label class="checkbox">
              <input class="checkbox__input" type="checkbox" name="color-scheme" value="ru" aria-label="RU"
                onchange="handleChange(this.checked)" />
              <span class="checkbox-style"></span>
            </label>
          </div>
        </div>
      </div>
    </header>