.header {
  border-bottom: 1px var(--gray) solid;
  background-color: var(--primary);

  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    min-height: var(--height-header);
  }
}

.logo {
  margin-right: auto;
}

.nav__list {
  display: flex;
  gap: 40px;

  &-item--link {
    color: var(--white, #fff);
    font-size: 1.6rem;
    position: relative;
  }

  &-item--link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: var(--special);
    transition: all 0.15s linear;
  }

  &-item--link:hover::after {
    width: 100%;
  }
}